body {
   background-color: #FFFDF7;
   padding: 62px;
   line-height: 32px;
   background-image:
  linear-gradient(
    to right,
    transparent 59px,
    #E6A0AF 59px,
    #E6A0AF 61px,
    transparent 61px
  ),
  repeating-linear-gradient(
    to bottom,
    transparent 0px,
    transparent 31px,
    #CBD9E7 31px,
    #CBD9E7 32px
  );}
h1 {
    color: white;
    text-align: center;
}
header{
background-color: #FFFDF7;
border-bottom: 2px solid #cbd9e7;padding: 20px;

}
.notebook_details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px;
}